<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit corrupti accusamus odio dolorem aspernatur excepturi sunt eius maiores praesentium deserunt nemo vitae impedit reiciendis nobis animi et dicta! Dignissimos tempore.
  </p>